Exercise 1 \
Write a recursive function factorial(n) that:
+ Takes a single parameter n (an integer).
Returns the factorial of n.

In [2]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

factorial(5)

120

Exercise 2 \
Write a function is_prime(n) that:
+ Takes a single parameter n (an integer).
+ Returns True if the number is prime, otherwise False.

In [8]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

is_prime(97)

True

Exercise 3 \
Write a function power(base, exponent=2) that:
+ Takes two parameters: base (a number) and exponent (a number, default is 2).
+ Returns the result of raising base to the power of exponent.

In [10]:
def power(base, exponent=2):
    return base ** exponent

power(2, 3)
power(5)

25

Exercise 4 \
Write a function find_max(numbers) that:
+ Takes a single parameter numbers (a list of integers or floats).
+ Returns the largest number in the list.

In [12]:
def find_max(numbers):
    max_number = numbers[0]
    for number in numbers:
        if number > max_number:
            max_number = number
    return max_number

find_max([1, 2, 3, 4, 5])

5

Exercise 5
Write a function fibonacci(n) that:
+ Takes a single parameter n (an integer).
+ Returns a list containing the first n numbers in the Fibonacci sequence.

In [19]:
def fibonacci(n):
    fib_num = [0,1]
    for i in range(1,n):
        sum = fib_num[i-1] + fib_num[i]
        fib_num.append(sum)
    return fib_num

fibonacci(5)

[0, 1, 1, 2, 3, 5]